/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
  background: linear-gradient(135deg, #0f3460 0%, #533483 100%);
  text-align: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
